<div class="container">
  <div class="col-sm-6">
    <form class="form-horizontal">

      <div class="form-group">
        <h1>Advise for Patient</h1>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-3" for="clinic_name">Clinic Name: </label>
        <div class="col-sm-5">
          <input type = "text" class="form-control" name="clinic_name" ng-model="data.clinic_name" readonly="true"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="patient_name">Patient Name: </label>
        <div class="col-sm-5">
          <input type = "text" class="form-control" name="patient_name" ng-model="data.user_name" readonly="true"/>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-3" for="ph_value">Actual pH Value: </label>
        <div class="col-sm-5">
          <input type = "text" class="form-control" name="ph_value" ng-model="data.ph_value"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="phadvise">Things to do for pH: </label>
        <div class="col-sm-5">
          <textarea rows="4" class="form-control" ng-model="data.phadvice_data" placeholder="Type your Advice for pH here"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="glucose_value">Actual Glucose Value: </label>
        <div class="col-sm-5">
          <input type = "text" class="form-control" name="glucose_value" ng-model="data.glucose_value"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="glucoseadvise">Things to do for glucose: </label>
        <div class="col-sm-5">
          <textarea rows="4" class="form-control" ng-model="data.glucoseadvice_data" placeholder="Type your Advice for glucose here"></textarea>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="hydration_value">Actual Hydration Value: </label>
        <div class="col-sm-5">
          <input type = "text" class="form-control" name="hydration_value" ng-model="data.hydration_value"/>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-3" for="hydrationadvise">Things to do for Hydration: </label>
        <div class="col-sm-5">
          <textarea rows="4" class="form-control" ng-model="data.hydrationadvice_data" placeholder="Type your Advice for Hydration here"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <button class="btn btn-primary col-sm-offset-8" ng-click="sendAdvice()">Send</button>
        </div>
      </div>

    </form>
  </div>
</div>
