<div class="container" >
  <div class="row">
    <div class="col-sm-offset3 col-sm-6">
      <h1>Patient Appointment </h1>
    </div>
  </div>

  <div class="appointment">
  <label>Patients Name</label>
          <input type="text" id="query" ng-model="query"/>

          <select name="singleSelect" ng-model="Select" ng-change="onChanged(Select)" >
            <option value="" disabled selected>Select your option</option>
            <option value="0" ng-click="changetable(0)">Show All</option>
            <option value="1"  ng-click="changetable(1)">Show Pending</option>
            <option value="2"  ng-click="changetable(2)">Show Confirmed</option>
          </select>
        </div>
  <div class="row">
    <table class="table table-striped table-bordered display " id="list">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Appointment</th>
          <th>Appointment Time</th>
          <th>Url</th>
          <th>Action(s)</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <tr ng-repeat="e in patients | filter:query | filter:search">
          <td>{{e.name}}</td>
          <td>{{e.appointment_date| date:'yyyy-MM-dd '}}</td>
          <td>{{e.appointment_time}}</td>
          <td><a href="{{e.url_hash}}">{{e.url_hash}}</a></td>

          <td>
            <button ng-show="e.is_confirmed==true && e.feedback_id===null" type="button" class="btn btn-primary"  ng-click="PassID(e)">Doctor Feedback</button>
            <button ng-show="e.is_confirmed==false || e.is_confirmed===null" type="button" class="btn btn-primary" ng-click="PassID(e)" >Confirm Appointment</button>
            <button ng-show="e.feedback_id != null" type="button" class="btn btn-primary" ng-click="PassID(e)" >View Feedbacks</button>
            <button  type="button" class="btn btn-primary" ng-click="PassID(e)" >Patient Graph</button>
          </td>

        </tr>

      </tbody>

    </table>
    <span>Number of Patients: {{patients.length}}</span>

  </div>
</div>
