<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8' />

	<style>
		body {
			margin: 40px 10px;
			padding: 0;
			font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
			font-size: 14px;
		}

		#calendar {
			max-width: 900px;
			margin: 0 auto;
		}
	</style>
</head>

<body>
	<div class="container">
		<div>
			<div class="btn btn-default">Glucose</div>
		</div>
		<div>
			<div class="btn btn-default" ng-click="redirPH()">pH</div>
		</div>
	</div>
	<div>
		<div id='calendar'></div>
	</div>
</body>

</html>
